<div class="row">
	<div class="text-center">
		<h1>Welcome to the Korazin App</h1>
	</div>
	<div *ngIf="!isAuth()" class="columns small-12 medium-6 small-centered">
		<h3>Please log in to continue</h3>

		<form  [formGroup]="myForm" (ngSubmit)="onSubmit()">
			<label> User
				<input type="text" formControlName="username" [ngClass]="{invalid: !myForm.controls.username.valid && myForm.controls.username.dirty}">
			</label>
			<label> Password
				<input type="password" formControlName="password" [ngClass]="{invalid: !myForm.controls.password.valid && myForm.controls.password.dirty}">
			</label>
			<div class="text-center">
				<button class="button hollow" [disabled]="!myForm.valid">Log in</button>
			</div>
		</form>
	</div>
</div>
